<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- App-wide permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainPath"
        tools:targetApi="31">

        <!-- LANDING PAGE -->
        <activity
            android:name=".LandingActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- PROFILE MODULE -->
        <activity android:name=".ui.profile.SignInActivity" android:exported="true" />
        <activity android:name=".ui.profile.ForgotPassword" android:exported="true" />
        <activity android:name=".ui.profile.RegisterActivity" android:exported="true" />

        <!-- INTERACTION MODULE -->
        <activity android:name=".ui.interaction.ForumPostActivity" android:exported="true" />

        <!-- RESOURCES MODULE -->

        <!-- FIREBASE CONFIGURATION -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.analytics.FirebaseAnalytics.Event"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBO2HGGKA0hXwESDN8A3xbJg0VxDGHPW-Y" />

    </application>

</manifest>
